* {
    border: none;
    border-radius: 0;
    /*font-family: Roboto, Helvetica, Arial, sans-serif, "FontAwesome 5 Free Solid";*/
    font-family: Roboto, Helvetica, Arial, sans-serif, "FontAwesome 5 Free Solid";
    font-size: 26px;
    min-height: 0;
}


window#waybar {
    background: rgba(43, 48, 59, 0.3);
    color: @foreground;
}

#workspaces button {
    padding: 0 5px;
    background: rgba(43, 48, 59, 0.8);
    color: @foreground;
}

#workspaces button.focused {
    background: rgba(100, 114, 125, 0.2);
}

#mode {
    background: transparent;
}

#clock, #battery, #cpu, #memory, #network, #pulseaudio, #custom-spotify, #tray, #mode, #custom-temp, #custom-root, #custom-home, #custom-backup, #custom-scratch, #custom-main {
    padding: 5px 0 0;
    margin: 0 3px;
}

#clock {
    background-color: transparent;
    color: @foreground;
}

#battery {
    background-color: #ffffff;
    color: black;
}

#battery.charging {
    color: white;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    background: #f53c3c;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
    background: transparent;
    color: @foreground;
}

#memory {
    background: transparent;
    color: @foreground;
}

#network {
    background: transparent;
    color: @foreground
}

#network.disconnected {
    background: transparent;
    color: crimson;
}

#pulseaudio {
    background: transparent;
    color: @foreground;
}

#pulseaudio.muted {
    background: #90b1b1;
    color: #2a5c45;
}

#custom-spotify {
    background: #66cc99;
    color: #2a5c45;
}

#tray {
    background-color: transparent;
}

#custom-root {
    background: transparent;
}

#custom-temp {
    background: transparent;
}

#custom-home {
    background: transparent;
}

#custom-main {
    background: transparent;
}

#custom-backup {
    background: transparent;
}

#custom-scratch {
    background: transparent;
}

#custom-updates {
    color: #fff;
}

#language.us {
    color:  #f8625c;
}
#language.ca {
    color:  #5ed6fe;
}
