[Unit]
Description=Albert launcher service

[Service]
Type=simple
ExecStart=/usr/bin/albert
ExecStartPre=-killall -9 albert
Restart=on-failure

[Install]
WantedBy=default.target
